.topbar {
    border-bottom: 2px solid var(--color-primary);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "logo actions language"
        "logo mainnav mainnav";
    grid-gap: var(--spacing-s) var(--spacing-normal);
    align-items: center;
    padding: 0 var(--spacing-normal);
    height: var(--topbar-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
}
