<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/logo.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Kojo Nav group</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/prototype.css"/>

    <link rel="stylesheet" href="/assets/css/topbar_mobile.css" media="screen and (max-width: 839px)"/>
    <link rel="stylesheet" href="/assets/css/topbar_desktop.css" media="screen and (min-width: 840px)"/>

    <script type="module" src="/src/components/toujou-topbar/toujou-topbar.ts"></script>
    <script type="module" src="/src/js/main.js"></script>

    <script type="module">
        // Load css files directly on dev environment so we can have hot reload
        if (import.meta.env.DEV) {
            const mobileDevStylesheet = document.createElement('link');
            mobileDevStylesheet.rel = 'stylesheet';
            mobileDevStylesheet.href = './src/css/topbar_mobile.css';
            mobileDevStylesheet.media = 'screen and (max-width: 839px)';

            const desktopDevStylesheet = document.createElement('link');
            desktopDevStylesheet.rel = 'stylesheet';
            desktopDevStylesheet.href = './src/css/topbar_desktop.css';
            desktopDevStylesheet.media = 'screen and (min-width: 840px)';

            document.head.appendChild(mobileDevStylesheet);
            document.head.appendChild(desktopDevStylesheet);
        }
    </script>
</head>
<body>

<toujou-topbar class="topbar" topbar-breakpoint="1111" viewport-type="mobile">
    <%- include('./src/partials/topbar-logo.ejs') %>
        <%- include('./src/partials/topbar-actions.ejs') %>
        <%- include('./src/partials/topbar-burger-button.ejs') %>
        <span class="topbar-mobile-navs" id="topbar-mobile-navs" popover>
            <%- include('./src/partials/topbar-language-picker.ejs') %>
            <%- include('./src/partials/topbar-main-nav.ejs', { navData: navData }) %>
            <%- include('./src/partials/topbar-service-nav.ejs') %>
        </span>
    </toujou-topbar>

    <div class="content">




    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cupiditate facilis hic modi optio, provident quod sunt. Autem dolor ducimus eius et fugiat hic nam placeat reiciendis repudiandae soluta!</p>
</div>

</body>
</html>
