t-nav-group[viewport-type="mobile"] {
    .topbar {
        --topbar-height: 4rem;

        border-bottom: 2px solid var(--color-primary);
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: var(--topbar-height) auto;
        grid-template-areas:
            "logo actions burger"
            "mainnav mainnav mainnav";
        grid-gap: 0 var(--spacing-l);
        align-items: center;
        padding: 0 var(--spacing-normal);
        height: var(--topbar-height);
        background-color: var(--color-bg);
    }
}
