.topbar-dialog {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: calc(100dvh - var(--topbar-height));
    top: 0;
    bottom: unset;
    background-color: var(--color-primary);
    padding: 0;
    border: none;
    flex-flow: column nowrap;
    gap: var(--spacing-l);
    /*overflow: hidden;*/
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100%);
    transition: height .25s ease-in-out, padding .25s ease-in-out, opacity .25s ease-in-out;
    margin: 0;
}

.topbar-dialog[open] {
    top: var(--topbar-height);
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
    overscroll-behavior: contain;
}
