.language-picker {
    padding: var(--spacing-normal);
}

.language-picker__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-normal);
}

.language-picker__link {
    color: var(--color-bg);
    text-decoration: none;
}

.language-picker__link[aria-current="true"] {
    text-decoration: underline;
}
