<ul class="topbar-actions" slot="topbar-actions">
    <li class="topbar-actions__item">
        <a href="#" class="topbar-actions__link">
            <span class="topbar-actions__text">Star</span>
            <toujou-icon class="icon" icon-name="star" icon-size="m"></toujou-icon>
        </a>
    </li>
    <li class="topbar-actions__item">
        <a href="#" class="topbar-actions__link">
            <span class="topbar-actions__text">Settings</span>
            <toujou-icon class="icon" icon-name="settings" icon-size="m"></toujou-icon>
        </a>
    </li>
    <li class="topbar-actions__item">
        <a href="#" class="topbar-actions__link">
            <span class="topbar-actions__text">Science</span>
            <toujou-icon class="icon" icon-name="science" icon-size="m"></toujou-icon>
        </a>
    </li>
</ul>
