<nav class="service-nav">
    <ul class="service-nav__list">
        <li class="service-nav__item">
            <a href="#" class="service-nav__link">Impressum</a>
        </li>
        <li class="service-nav__item">
            <a href="#" class="service-nav__link">Contact</a>
        </li>
        <li class="service-nav__item">
            <a href="#" class="service-nav__link">About us</a>
        </li>
        <li class="service-nav__item">
            <a href="#" class="service-nav__link">Gender at work</a>
        </li>
        <li class="service-nav__item">
            <a href="#" class="service-nav__link">Dateschutz</a>
        </li>
    </ul>
</nav>
