<nav aria-label="Topbar Logo" class="topbar-logo" slot="topbar-logo">
    <a aria-label="Zur Startseite" class="topbar-logo__link" href="/">
        <img class="topbar-logo__logo topbar-logo__logo--svg" src="./src/assets/logo.svg" alt="Topbar Logo"/>
    </a>
</nav>
