<nav class="language-picker" aria-label="Language picker" slot="topbar-language-picker">
    <ul class="language-picker__list">
        <li class="language-picker__item">
            <a href="#" class="language-picker__link" lang="en" hreflang="en" aria-current="true" aria-label="English">
                <span class="language-picker__ico-code">EN</span>
            </a>
        </li>
        <li class="language-picker__item">
            <a href="#" class="language-picker__link" lang="de" hreflang="de" aria-label="Deutsch">
                <span class="language-picker__ico-code">DE</span>
            </a>
        </li>
        <li class="language-picker__item">
            <a href="#" class="language-picker__link" lang="pt" hreflang="pt" aria-label="Português">
                <span class="language-picker__ico-code">PT</span>
            </a>
        </li>
    </ul>
</nav>
