<ul class="topbar-actions" slot="topbar-actions">
    <li class="topbar-actions__item">
        <a href="#" class="topbar-actions__link">
            <span class="topbar-actions__text">Contact</span>
        </a>
    </li>
    <li class="topbar-actions__item">
        <a href="#" class="topbar-actions__link">
            <span class="topbar-actions__text">Like</span>
        </a>
    </li>
    <li class="topbar-actions__item">
        <a href="#" class="topbar-actions__link">
            <span class="topbar-actions__text">Suche</span>
        </a>
    </li>
</ul>
